@import '../../_settings/_variables.scss';

.button {
  -webkit-appearance: none;
  border: 1px solid transparent;
  outline: 0;
  display: block;
  font-family: var(--base-font-family);
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

button:hover {
  border-color: #646cff !important;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Size */
.small {
  padding: 0.5em 0.6em;
}

.medium {
  padding: 1.1em 1.3em;
}

.large {
  padding: 1.7em 2.4em;
}

/* Theme */
.default {
  color: #fff;
  background: var(--brand);
  border: 1px solid var(--brand);
}

.rounded {
  color: var(--brand);
  background: #fff;
  border: 1px solid var(--brand);
  transition: color 0.3s ease, background 0.3s ease;

  &:hover {
    color: #fff;
    background: var(--brand);
  }
}

/* Disabled */
.disabled {
  color: var(--grey-2);
  background: color-mix(in srgb, var(--grey-4) 60%, white 40%);
  border-color: var(--grey-4);
  cursor: default;
}
